.char {
  display: inline-block;
  margin: 16px;
  padding: 16px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid black;
  cursor: pointer;
  transition: 0.2s;
}

.char:hover {
  background-color: red;
  color: #fff;
}